html, body {
  font-size: 16px;
  font-family: "Noto Serif", serif;
  background-color: #237705;
}

h1 {
  background-image: url("../assets/ireland.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;

  height: 500px;
  margin: 0 0;
  padding: 0 0;

  font-size: 60px;
  font-weight: normal;
  color: white;
  font-family: "Abril Fatface", sans-serif;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}

p {
  width: 800px;
  margin: 20px auto;
  padding: 20px 20px 20px 20px;

  background-color: #FFDFDF;

  font-size: 20px;
  letter-spacing: 1px;
}
